# **データマイニングと情報可視化: 小テスト**
# **Data mining and information visualization: Exercise**
<font size="4">
第5回　2024年1月16日(火)<br>
データマイニング手法2-2：クラスター分析（データ解析と可視化）<br>
Method 2-2: Clustering analysis (Analyze data &amp; visualization)<br>
</font>

## (0) 名前と学籍番号を表示してください。/ Please display your name and student ID.

In [62]:
# print 関数を使って下さい / Use print function.
print("一瀬遥希")
print("1TE22028G")

一瀬遥希
1TE22028G

## (1) 必要なライブラリをインストールしてください。 / Import libraries.

In [63]:
# まずはライブラリをインポート / Import the libraries.
import numpy as np
import numpy.random as random
import scipy as sp
from pandas import Series, DataFrame
import pandas as pd

# 可視化ライブラリ / Visualization libraries
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
%matplotlib inline

# 機械学習ライブラリ (念のため)/ Machine learning library (may not be used, but just in case..)
import sklearn

# 小数第3位まで表示 / display up to the 3rd decimal place
%precision 3

'%.3f'

## (2) CSV ファイル(data/w5_quiz.csv)をDataFrame`df`として読み込んで下さい。
## Please load a CSV file, data/w5_quiz.csv, as a DataFrame, `df`.

ファイルを読み込んだ後、最初の5行を表示してください。<br>
After loading a CSV file, please display the first 5 lines of the DataFrame, 'df'.<br>

Area size: 1: 大都市/Big city、2：中核市/middle-sized city、3：その他の市/other city、4：町村/towns and villages<br>
ID: 個人番号/identification number<br>
Sex: 性別(1：男子/Male、2：女子/Female、0：不明/Unknown)<br>
Japanese: 国語の得点<br>
Math: 数学の得点<br>
Science: 理科の得点<br>
[元データはこちら:パブリックユースデータ(生徒データ)](https://www.mext.go.jp/a_menu/shotou/gakuryoku-chousa/sonota/1404609.htm)

In [64]:
df=pd.read_csv("w5_quiz.csv")

In [65]:
df.head()

   AreaSize   ID  Sex  Japanese  Math  Science
0       NaN  1.0  2.0      82.0  92.0     64.0
1       NaN  2.0  2.0      79.0  56.0     28.0
2       NaN  3.0  2.0      82.0  81.0     76.0
3       NaN  4.0  1.0      67.0  39.0     68.0
4       NaN  5.0  2.0      82.0  86.0     64.0

## (3) 数学の点が90点以上のデータ行だけ抽出して表示してください。
Extract rows in which Math score is　higher than 90.<br>
[Week 2: extract](Ex_Week2.ipynb#extract)

In [66]:
print(df[df.Math >= 90])

      AreaSize      ID  Sex  Japanese  Math  Science
0          NaN     1.0  2.0      82.0  92.0     64.0
22         NaN    23.0  1.0      85.0  97.0     84.0
35         NaN    36.0  1.0      94.0  92.0     68.0
76         NaN    77.0  1.0      88.0  92.0     68.0
80         NaN    81.0  2.0      91.0  92.0     76.0
...        ...     ...  ...       ...   ...      ...
1840       NaN  1841.0  2.0      88.0  92.0     88.0
1849       NaN  1850.0  2.0      97.0  94.0     72.0
1873       NaN  1874.0  2.0      88.0  94.0     52.0
1940       NaN  1941.0  2.0      73.0  92.0     60.0
1947       NaN  1948.0  1.0      91.0  97.0     84.0

[94 rows x 6 columns]

## (4) 欠損値の数を数える / Count the number of NaN
列のすべての要素が欠損値である列はどれですか？

[Week 4: Count NaN](Ex_Week4.ipynb#countnan)

In [67]:
# 列ごとに欠損値の数を数える / Count the number of NaN by column
print(df.isnull().sum())

# 列のすべての要素が欠損値である列はどれですか？
print(df.isnull().all())

AreaSize    2000
ID             6
Sex            7
Japanese       5
Math           7
Science        7
dtype: int64
AreaSize     True
ID          False
Sex         False
Japanese    False
Math        False
Science     False
dtype: bool

## (5) 列を削除 / Delete a column
(4)ですべての要素が欠損値だった列を削除して、別の名前のDataFrameに格納してください。<br>
最初の5行を表示して、処理がうまくいっているか確認してください。<br>
Delete the columns where all elements were missing values in (4) and store them in a DataFrame with a different name.<br>
Display the first five rows to verify that the process is working.<br>
<br>
[Week 4: Count NaN](Ex_Week4.ipynb#drop_column)<br>
[Week 4: Remove specific columns or rows](Ex_Week4.ipynb#removenan_subset)

In [68]:
df2= df.dropna(how='all').dropna(how='all', axis=1)
df2.head()

    ID  Sex  Japanese  Math  Science
0  1.0  2.0      82.0  92.0     64.0
1  2.0  2.0      79.0  56.0     28.0
2  3.0  2.0      82.0  81.0     76.0
3  4.0  1.0      67.0  39.0     68.0
4  5.0  2.0      82.0  86.0     64.0

## (6) 欠損値の削除 / Remove NaN
(5)で得られたDataFrameに対して、一つでも欠損値のある行を削除して、別名のDataFrameに格納してください。<br>
欠損値の数がゼロになっているのを確認してください。<br>

In the DataFrame obtained in (5), remove the rows which have at least one NaN, then store them in a DataFrame with a different name.<br>
Please verify that the number of NaN is zero.<br>

[Week 4: Remove NaN](Ex_Week4.ipynb#removenan)

In [69]:
df3 = df2.dropna(how='any')
df.dropna(how='any', inplace=True)
print(df3.isnull().sum().sum())
df3.head()

0

    ID  Sex  Japanese  Math  Science
0  1.0  2.0      82.0  92.0     64.0
1  2.0  2.0      79.0  56.0     28.0
2  3.0  2.0      82.0  81.0     76.0
3  4.0  1.0      67.0  39.0     68.0
4  5.0  2.0      82.0  86.0     64.0

## (7) 平均を求める / Calculate averages.
`Japanese`と`Math`の平均を求めて、表示してください。<br>
Calculate the averages of `Japanese` and `Math`, then display the results.<br>
<br>
<b>(6)でNaNを削除したデータを別名で格納してあるので、そのDataFrameを使いましょう。<br>
To calculate the averages, use a new DataFrame which stores the data without NaN as you did in  (6).</b><br>
<br>
[Week 4: Average](Ex_Week4.ipynb#average)

In [70]:
print(df3["Japanese"].mean())
print(df3["Math"].mean())

75.29462474645031
63.77079107505071